<div class="content" role="main">
  <app-resizable-card>
    <h3>My Resizable Card</h3>
    <p>This is some content within the resizable card.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>
    
    <h3>My Resizable Card</h3>
    <p>This is some content within the resizable card.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>
    <h3>My Resizable Card</h3>
    <p>This is some content within the resizable card.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
    </ul>
  </app-resizable-card>
</div>
